[2014-06-10 17:38] jbblanchet opened #540 "2.1 displays views that should stay hidden"
It's sometimes useful to use composition to include html that should stay hidden. 2 scenarios where we use it:
- Include some html whose visibility is controlled externally (i.e. by a parent component).
- Include svg definitions in the DOM (since external file loading support is broken in current browsers).

Pull request  #520 broke that by forcing visibility to block when it was none. If it was '

[2014-07-03 17:23] ghost opened #553 "Infinite activation/binding loop after navigating away then back"
This issue seems to be specific to version 2.1.0. If start from Page A then navigate to Page B then back to Page A, it triggers an endless loop of activating and binding.
![Infinite loop console logs](https://cloud.githubusercontent.com/assets/1906692/3473258/e3d004ac-02d5-11e4-984c-2315c7765ced.png)

If I replace viewEngine.js v2.1.0 with viewEngine.js v2.0.1, the endless loop is gone but the dou

[2014-07-10 17:53] nicmendoza opened #556 "Running into an issue with child routers using objects in the activeInstruction params, thereby causing "[object Object]" to be passed into activate method"
It seems that when I am using a child router, the params array on the activeInstruction includes objects in addition to strings, so when it joins them in router.loadUrl (router.js:508), and passes it to my widget's activate method, the url contains [object Object]

As an example, say I navigate to this url in my app:

view/person/19158/?interaction=87852&listId=17

where view is a route on the she

[2014-07-16 22:51] omniscient opened #558 "ViewEngine caching problem"
I know this is going to be pretty vague of an issue but after spending 4 hours on the phone with my buddy working through this bug, I don't really feel like trying to put an example together at the moment. Maybe its unnecessary and you can think of a way to reproduce this.

Basically, we had to comment line 166 of viewEngine.js for our view to work several times in a row: // that.putViewInCache(re

[2014-07-17 13:56] omniscient opened #559 "When canDeactivate returns false it does not remove the cancelled route from the router breadcrumb"
Our viewmodels includes the canDeactivate method such that we can prevent users from navigating away while they have unsaved changed in our SPA. The sequence goes like this:
1. Browse to /consumer
2. Browse to /consumer/assessment
3. Modify the record
4. Try to browse to /Search by clicking a button in the app
5. Answer cancel on dialog to stop navigation that presents such that canDeactivate retu

[2014-07-18 13:56] mokkabonna opened #560 "No errorhandling if module is a function and resolveObject fails"
In https://github.com/BlueSpire/Durandal/pull/546 cancellation of the navigation was added if the module loading failed. This works fine if we have the following module:

[code]

It will then complain that doesNotExist is undefined and you can't access it's property. This is because the error ocures during the loading of the module.

However if the module loads fine, but the resolution of the obje

[2014-07-20 14:42] jmwnoble opened #561 "Cross-origin security error when history.root =='/' with pushstate enabled."
Updating from v2 to 2.1, the history plugin broke my app in history.navigate as it lost the protocol and host when navigating back to the root.

At #L247 , var url = history.root + fragment had nothing for history.root, which was a problem at #L256.

As a quick workaround I added:

[code]

I sense I've got something wrong in the implementation of my app to have to insert this, but thought I'd flag

[2014-09-25 14:41] S-K-A opened #581 "Using custom view strategy - Lifecycle fails when using same moduleid sequently"
Hi! In our application we use a custom view strategy to retrieve html-fragments from an application server. We heavily rely on the correct lifecycle / invocation order of things.
When navigating the same route twice (which will likely receive different html-fragments via custom view strategy) we faced the problem that because of the same modules in charge for the view, the router fires "router:nav

[2014-10-14 12:21] navels opened #584 "Clarifications suggested for "Binding Plain Javascript Objects" docs page"
Couple of suggestions for this page:
1. The bit about computed properties (with getter and/or setter) being automagically converted to knockout computed observables.

This is a great feature of 2.1.0 and deserves to be called out with an example.
1. That properties that start with '_' or '$' are not converted into observables.

This particular one had me scratching my head quite a bit, although it

[2014-10-14 12:34] navels opened #585 "Loading a view through app.setRoot() does not set the isProcessing flag"
Durandal has code that protects against two lifecycles occurring simultaneously, using an "isProcessing" flag in router.js.  The flag is set whenever a navigation event occurs and reset at the end of the composition lifecycle.

The problem is that app.setRoot() loads a view without going through the navigation code and so this flag does not get set, but it does get cleared when the shell is finish

[2014-10-15 16:00] EisenbergEffect opened #586 "Update to Knockout 3.2"

[2014-10-18 16:31] zewa666 opened #588 "Router moduleId as function"
Hi there,

I have no idea if that has been discussed elsewhere maybe, but an issue search didn't brought that up. It would be very helpful if we could assign a function instead of strings to the moduleId, where we map routes to the router.

The idea is that this way you could overcome some special scenarios, where depending on route instructions you'd have to decide which module to activate.

Take

[2014-10-21 11:52] dziamid opened #589 "__moduleId__ is undefined in firefox"
I am experiencing this very strange issue: on occasion some modules are not passed through `system.setModuleId` function and threfore view location failes to load their respective views based on `__moduleId__` property. This issue is only relavant to Firefox. In Chrome there's no such issue.

[2014-11-04 12:09] martinbooth opened #594 "navigatingBack bug when clicking anchor"
Durandal assumes that when you click an anchor, you are navigating to a new location. It sets explicitNavigation to true in:

            $(document).delegate("a", 'click', function (evt) { ... }

The problem is, anchors are commonly used simply to trigger something to happen such as the bootstrap dropdown:

            <a data-toggle="dropdown" href="#">
                <i class="fa fa-angle-down

[2014-11-07 09:32] m90 opened #595 "Could we pass a reason to the navigation cancelled event?"
When trying to navigate to a new route, but its activate hook rejects the promise (due to auth issues or sth else), all that the router gets notified of is `router:navigation:cancelled` with the handler being passed `instance, instruction, router`.

This leads to the problem that I can only tell the user that *something failed*.

Instead I'd like to do something like this in my viewmodels:

[code]

[2014-11-19 19:36] srowan opened #598 "Feature Request: Synchronous composition"
I am the tech lead for a fairly large application (10 developers) which uses durandal.   In general, we are extremely happy with the framework.   Our biggest headache however is the jerky/janky rendering experience which stems from the asynchronous nature of the compose and widget bindings.   The issue is mostly imperceptible in demo / hello world applications, but in large mature applications it

[2014-11-21 14:39] ioancrisan opened #601 "Optimization when binding view models"
There are cases when the same view should be used for different view models, like when a grid and detail view must be synchronized according to the current grid selection. In this case, the view model bound to the detail view changes, but there is no need to create a new view because the same view can be reused.

Possible resolution: add a method in the composition module for override, which shoul

[2014-11-24 14:44] ioancrisan opened #603 "Provide module parameters in routes"
I am using in a project routers with child routers and parameterized routes. One thing that I am missing is that, when instantiating modules over route configurations, I don't have too much options instead of the moduleId value which provides the file name of the module to be instantiated. I would like here to be able to provide a parent router parameter, so that the instantiated view model can cr

[2014-11-26 12:14] MarkStega opened #604 "HTML starter kit & Bootstrap reactive menu"
Acquiring & running the 2.1 HTML starter kit (i.e., opening index.html in Firefox) I notice the following behavior: When the browser window is made narrower than 768 pixels the menu appropriately collapses to the icon form. However, clicking on the menu icon causes it to change its rendering but not to show the collapsed menu. It is as if the Bootstrap js code is not running. I am not familiar eno

[2014-11-26 20:23] davismj opened #605 "setRoot leaves activated routes on old route"
I have a shell for a logged in user and a shell for a non-logged in user. On logout, app.setRoot is called. However, this leaves event handlers in place because the route.deactivate() function is never called.

[2014-11-28 21:32] ganySA opened #607 "Strange routing behaviour when using pushState on webforms"
I am using a .net forms aspx project to host durandal. When my project is configured without the pushstate: true property set it works correctly... however when i  enable the pushState routes without parameters work correctly however those with parameters break.

An example using the router line below:
{ route: 'search/:query1/:query2', moduleId: 'viewmodels/search', nav: true }

The router seems

[2014-12-02 12:23] BBosman opened #608 "Broken "Testing with Grunt" link in docs"
On the [Docs](http://durandaljs.com/docs.html) page there is a link called `Testing with Grunt` under the `Testing` section, which points to a non-existing page.

I assume it' supposed to point to the [Building and Testing with Grunt](http://durandaljs.com/documentation/Grunt.html) page.

[2014-12-03 16:43] giuseppelt opened #609 "Module reuse with activation data fails."
It fails because the `router.activeItem.settings.areSameItem` returns false due to different activation data:

[code]

The root cause is in this router code:

[code]

where the `tempActivator` is created without the old activation data, so when it comes to test by `areSameItem`, it always fails.

A fast solution could be:
- modify with `forceActiveItem(currentActivation, currentActivationData)`
-

[2015-01-05 08:58] paranoxx opened #614 "Empty View throws error"
Using an empty view throws an error in viewEngine.js in method "ensureSingleElement" since allElements only contains empty string instead of DOM node.
Same in "createView" after processMarkup is called.

[2015-01-06 18:27] johnhunter opened #615 "Router: IE8 fails parsing query strings"
When using the router with a query string IE8 fails to return the query key/values

**For example:**
define a route `'product/:id'`
navigate to `product/123?color=red`

**Expected:**
`activate` called with args `123, { color: 'red' }`

**Actual (IE8):**
`activate` called with args `123, {}`

**Version:**
2.1.0

This appears to be an issue with [x-bowser compatibility](http://blog.stevenlevithan.co

[2015-01-13 10:14] Svish opened #618 "Broken URL in Understanding the Samples"
In the documentation under [Understanding the Samples](http://durandaljs.com/documentation/Understanding-the-Samples.html) there's a link to [See the samples in action now!](http://durandaljs.com/pages/samples) which just gives me a GitHub Pages 404 :(

[2015-01-14 00:08] maskmaster opened #619 "Update jasmine testing to latest version to enable sane async tests."
The currently used 1.2-version of jasmine has a very crude support for async-testing. Update to the latest to enable better async testing.

[2015-01-16 09:19] Ashwini6 opened #621 "Problem faced in 2nd level routing, on declaring 3 level child router"
Hi,

Third level routing issue(https://github.com/BlueSpire/Durandal/issues/357) is solved, but I am facing problem in 2nd level routing.

Once I declare 3rd level router, I am facing problem in navigation between modules defined in 2nd level router.
The issue is: when I navigate in between different modules at 2nd level router, activate is fired but attached is not fired for the module.

Code sni

[2015-01-19 05:40] niix commented on #614
@paranoxx I've run into this a couple of times, the only solution I can find is by creating DOM element i.e. `div` or `section`, etc..  Looking at the source it looks like this may be intentional?  Maybe @EisenbergEffect can weigh in, if not I can make a PR for the fix.

[2015-01-23 22:46] TOuhrouche commented on #586
I am using Durandal 2.1.0 and just updated to Knockout 3.2. My SPA is now getting stuck with no error messages. I didn't manage to sport the error yet... everything was working fine with ko 3.0.0

[2015-01-26 03:45] mryellow opened #622 "Starterkit route issue"
When doing a durandal grunt task build of a project based on the starterkit I have come up against a route error.

Initially hitting the app with my defined routes `#settings` or `#search` works fine, however if the project is hit without a route an error results:

[code]
Which is:
[code]

So routes are working, it's not a relative path issue, but the `welcome` route fails.

https://github.com/Blu

[2015-01-28 19:35] EisenbergEffect commented on #618
Going out in the site update today.

[2015-01-28 19:35] #618 closed

[2015-01-28 19:38] EisenbergEffect commented on #608
Going out today in the next site release.

[2015-01-28 19:38] #608 closed

[2015-01-30 21:39] navels opened #624 "observable.convertObject should return the object"
So I can write

    return observable.convertObject( new MyModule() );

instead of

    var myModule = new MyModule();
    observable.convertObject( myModule );
    return myModule;

I can submit a pull request...

[2015-02-05 12:56] ashrafsabrym opened #625 "Router module removes empty URL parameters from activation parameters"
I have the following navigation operation:
[code]
When `branchId` is `null` the resulting query string is `branchId=`.
In the router module, `router.parseQueryString` causes this null value to be removed altogether from the parameters passed to the module I navigate to, which is not desirable, as I want the parameter to be passed as null, as this has special meaning to the other module.
I had to m

[2015-02-05 13:19] TOuhrouche commented on #625
From an API point of view, you should never use `null` as a signaling parameter to other modules. `null` has a special meaning and semantics in the language and should not be used for such use cases.
Wouldn't it be simpler to pass in a special defined value (a magic string for example)?

[2015-02-05 16:33] ashrafsabrym commented on #625
The expression in router.parseQueryString tests for truthy values, so, even using an empty string won't work (the regex sets parts[1] to `undefined`).
Null makes sense for this view model. It means "search for all branches". I don't like sending special values like 0 or -1. I want to send an empty URL parameter the same way we do with web handlers URLs.

[2015-02-10 08:46] derkan commented on #604
Please add bootstrap on `main.js` to let bootstrap javascript to be loaded:

[code]

[2015-02-11 18:31] PWKad commented on #625
@ashrafsabrym - can you submit the modification as a Pull Request for review on this issue?

[2015-02-11 19:06] ashrafsabrym commented on #625
My fix was just adding `|| null` after the mentioned line, and it worked well, and the controller/viewModel gets the null value.
I'll issue the pull request tomorrow when I'm on my office because the code is not available to me now.

[2015-02-11 21:17] PWKad commented on #558
@twill88 @omniscient @agmonks - Does anyone have a repo that this can be repro'd in?

[2015-02-12 12:00] ashrafsabrym commented on #625
I issued the request

[2015-02-12 20:25] #619 closed

[2015-02-12 20:25] #625 closed

[2015-02-14 10:04] gogocat commented on #586
Does Durandal works with lastest Knockout? with Knockout component?

[2015-02-14 10:08] TOuhrouche commented on #586
Yes it does :)

[2015-02-14 10:22] AdamWillden commented on #586
Also confirming it does
On 14 Feb 2015 10:08, "TOuhrouche" <notifications@github.com> wrote:

[2015-02-14 11:34] gogocat commented on #586
AWESOME!

[2015-02-15 14:54] StrahilKazlachev opened #628 "Router code inconsistency after last commit"
There is something wrong in the router after the [last commit](https://github.com/BlueSpire/Durandal/commit/2a4a393ef38bac517585f3da74622959530d963b).
[value = (parts[1] && decodeURIComponent(parts[1].replace(/\+/g, ' '))) || null;](https://github.com/BlueSpire/Durandal/blob/2a4a393ef38bac517585f3da74622959530d963b/src/plugins/js/router.js#L553)
[value = sp === -1 ? null : decodeURIComponent(pair.

[2015-02-17 04:48] PWKad commented on #624
@navels Please submit a PR if you have some working code here.  Also be sure to include test cases to cover the change in functionality.

[2015-02-17 04:52] PWKad commented on #622
@mryellow Could you submit a PR with the above code changes and corresponding tests?  Should be simple enough to emulate the workflow you described and showing it doesn't break any more, if not just let me know.

[2015-02-17 04:53] PWKad commented on #614
What is the use case?  Why would we need to require in an html file with no mark-up?  Trying to understand the issue better.

[2015-02-17 05:04] niix commented on #614
@PWKad I guess its more that everything needs to be wrapped in some element, iirc

[2015-02-17 05:41] mryellow commented on #622
Will be good practice for me, haven't done a public PR before, should be straight-forward enough.

Was day-dreaming about this one the other day and it may be a little quirky. My builds had been working, something changed, I imagine `app` was on a global scope somewhere or some sync issue with things being loaded in time.

Will see what I can do over the next few days.

[2015-02-19 04:32] PWKad commented on #615
@johnhunter Seems to be an issue worth solving, will need to take the time to repro the issue unless you have a repo that reproduces?

[2015-02-19 08:17] gogocat opened #629 "feature to use preloaded template in DOM"
It will be a feature is to make Durandal like Angular... when it do a template ajax call, it will check if there is a template in DOM first. If so, it will use it and stop the ajax call.

This is useful when you want to render something on first load that is easier/cheap by using server side language. eg Razor view in .Net

[2015-02-20 21:38] Craga89 commented on #629
You can implement this using the existing framework by overidding each views `getView` method. For example, we're using Durandal with Jade views currently that we include as a direct dependency of the ViewModel:

We used CommonJS style modules in our app, so forgive the non-AMD style here:

[code]

[2015-02-21 05:58] gogocat commented on #629
oh.. i didn't know there is a getView method...
the change i made (and using in real projects) is intercepting text.js before making ajax call.

https://github.com/gogocat/Sample-Durandal-preload-template

This way, everything in Durandal just work as normal. If there is a template in DOM, just use it otherwise make an ajax call, and Durandal internal cache will still work as expected.

[2015-02-21 14:10] johnhunter commented on #615
Have added a repro case in a fork of the dFiddle repo. Relevant url is http://johnhunter.github.io/dFiddle-2.0/#router - follow the links on this page to see params displayed on screen.

Have confirmed IE8 returns an empty object on activation.

[2015-02-21 15:36] PWKad commented on #615
Awesome will take a look here in a bit thanks!

[2015-02-25 00:20] navels commented on #624
There are currently no tests for the observable plugin (unless I am looking in the wrong place...).  I suppose I could add one.

[2015-02-25 11:58] PWKad commented on #629
I think overall this is a great idea and would be a nice feature to include.  I think that development work from the team on Durandal.js will focus on any bug fixes or open issues for the next release.  Because this change is to the core of `text.js` we would have to find a separate way to build this change in to Durandal.js core or the build process instead which may be a decent amount of work.

[2015-02-25 12:02] PWKad commented on #628
Could you explain what the issue you are having is please and / or steps to reproduce?

[2015-02-25 12:13] PWKad commented on #625
@EisenbergEffect I didn't get a chance to review this PR until now but I believe this was not a PR from the latest verison of router.js including this change -

https://github.com/BlueSpire/Durandal/commit/fe4ce68986e427ca7e0462e83c5e4b6f845ceb6b#diff-0d9e763c6e75932eaad003c8584b0105

It appears to be related to #628

[2015-02-25 12:18] PWKad commented on #624
Would be great, I don't see any around the observable plugin yet so it would be a good start.

[2015-02-25 12:29] PWKad commented on #615
@johnhunter It looks like dFiddle is using Durandal.js 2.1 in that example but is missing the latest changes to accommodate this issue from this commit - https://github.com/BlueSpire/Durandal/commit/fe4ce68986e427ca7e0462e83c5e4b6f845ceb6b

There is a separate open issue #628 currently open related to this so I think we can close this out for now @EisenbergEffect

[2015-02-25 12:44] PWKad commented on #595
@m90 I think there are currently a few ways you could accomplish this without having to modify the source including some of the pub/sub capability or messaging.  Because this is such a large change in the fork that you referenced above I don't think we could merge it in without some serious tests in place to ensure that it was not going to affect existing 2.1 users.

@EisenbergEffect I would vote

[2015-02-25 13:00] m90 commented on #595
@PWKad Thanks for having a look into that. While I agree with you regarding the fact that simply merging this is highly risky I think setting up a pubsub chain that will pass the error in parallel to the activation lifecycle isn't too good of an option as well. What's the point in using promises when you don't use their full potential?

[2015-02-25 13:09] PWKad commented on #595
I agree that I just worried with how large the change would be :)

[2015-02-25 14:01] EisenbergEffect commented on #629
Agree. I'm closing this one for now. We don't want to modify text.js itself and any solution we do have, especially if it involves a custom plugin, should work correctly with the build process.

Keep in mind that the view locator can be configured today to use your own custom plugin. So, this is something that could be done without touching the core framework.

[2015-02-25 14:01] #629 closed

[2015-02-25 14:06] EisenbergEffect commented on #625
Yes, I believe this is now fixed.

[2015-02-25 14:10] EisenbergEffect commented on #615
Closing.

[2015-02-25 14:10] #615 closed

[2015-02-25 14:12] #586 closed

[2015-02-25 20:19] EisenbergEffect commented on #595
I'm going to close this for now...I'm worried about there being unexpected consequences. @PWKad Can you investigate this for Aurelia's router. Is there an easy way to support this in the future? We might actually already, since this works differently in the new router...but I can't remember at the moment.

[2015-02-25 20:19] #595 closed

[2015-02-26 00:59] davismj commented on #622
How is this coming along?

[2015-02-26 01:04] davismj commented on #614
The use case is when you are creating a child routing scenario with an empty child route. Let's say you have a master-detail view and you want to save-and-close the detail, you might want to depopulate the view.

I can look into guarding this by creating an empty element if no markup is provided.

[2015-02-26 01:28] davismj commented on #609
Can you provide a bit more details on the steps to reproduce your issue. The way I understand it, this works just fine.

[2015-02-26 01:30] davismj commented on #607
will review, @EisenbergEffect please assign to me

[2015-02-26 01:31] davismj commented on #605
lol @EisenbergEffect please assign to me

[2015-02-26 01:31] #614 closed

[2015-02-26 01:33] davismj commented on #604
@EisenbergEffect this is in fact not a bug and the solution proposed by @derkan is correct, this item can be closed

[2015-02-26 01:33] EisenbergEffect commented on #607
@davismj I can't "officially" assign it through GitHub without jumping through some hoops. But, consider this an "assignment" ;) Please go ahead and take it on. Thanks!

[2015-02-26 01:33] EisenbergEffect commented on #605
Consider it assigned :)

[2015-02-26 01:34] #604 closed

[2015-02-26 01:34] davismj commented on #603
can you include some code related to this issue, and an example of how you would like/expect this to behave?

[2015-02-26 01:37] davismj commented on #601
@ioancrisan can you submit a pull request for this item?

[2015-02-26 01:45] davismj commented on #594
will review @EisenbergEffect please assign to me

[2015-02-26 01:54] EisenbergEffect commented on #594
Assigned to you :)

[2015-02-26 02:00] davismj commented on #556
@davismj i will review this PR

[2015-02-26 02:09] mryellow commented on #622
Been a bit busy.... but thinking about it I'm not sure there is anything to test, or that I can easily duplicate the issue. Was something that only popped up when boiling down the config to a more production ready build and was changing a few things at once when it happened.

[2015-02-26 02:19] martinbooth commented on #594
The issue is caused by durandal assuming:

* Clicking a link followed by a change to the url means the user navigated forwards
* A change to the url (without a click on a url preceeding it) means the user must have clicked back

If you click a link which has a click handler preventing navigation occurring then durandal assumes that the next change to the url was explicit (rather than the back butt

[2015-02-26 17:09] ioancrisan commented on #603
Well, when defining the routes I could provide an object/factory function to get an object. This object is then passed to an initialize() method of the module, together with some durandal context. This should be similar to activate, only it is called only once, upon initialization.

[2015-02-26 21:23] ioancrisan commented on #601
I think there is already a pull request, or did I do something wrong that you don't see it?
Issue #599 - Support for TypeScript 1.3 #600 That should be the pull request containing this optimization

[2015-03-02 19:42] someyoungideas opened #634 "Alphabetize Website API"
Could all lists in the API Docs please be alphabetized? If there is a reason why not to do this that would be fine as well. If this code is accessible on GitHub I would be glad to create a pull request as well.

[2015-03-03 15:43] #628 closed

[2015-03-04 01:14] #605 closed

[2015-03-04 01:15] #594 closed

[2015-03-04 02:16] davismj commented on #556
it seems that this issue has already been resolved in the latest code base. in fact, the above behavior currently would pass
`["person/19158", { interaction: "87852", listId: "17" }]`
to the parent, and
`["19158", null, { interaction: "87852", listId: "17" }]`
to the child. This is the expected behavior.

I have tested this behavior in the latest chrome, the latest ie, and emulated IE9. If you sti

[2015-03-04 02:22] EisenbergEffect commented on #556
Thanks for reviewing @davismj Closing now.

[2015-03-04 02:22] #556 closed

[2015-03-04 02:32] #622 closed

[2015-03-04 08:30] StrahilKazlachev opened #637 "Special characters in route parameters and child router"
An application I work on has as route parameters IDs that do not have symbols restriction, hence can contain '/' or '//', etc. When such parameter is part of a child router the matching breaks because the fragment is [reconstructed by joining the parameters as is](https://github.com/BlueSpire/Durandal/blob/2.1.0/src/plugins/js/router.js#L600). But they are already [url decoded](https://github.com/

[2015-03-06 23:48] CognitiveFeedback opened #638 "Parent Child-View-Swaping Problem"
demo: http://durandal-demo.neocortex.com.au/
download project: http://neocortex.com.au/media/codeprojects/durandal.demo.zip

Hi ...

I am having trouble with activation life-cycle in a parent-router.

The problem is specifically the re-activation of a parent viewmodel.

The problem is when the user navigates back to the parent viewmodel, durandal does the following:
1. Renders ('composes') the pre

[2015-03-11 17:49] genereddick opened #640 "Durandaljs.com site issues in mobile / responsive"
I'm seeing issues with the site on menu collapse on mobile (Android) and in a small browser size (Chrome & IE 11).

In browser the nav menu items (Get Started, Downloads, Docs) correctly disappear and the hamburger dropdown shows up, but clicking it doesn't expand the dropdown.

On mobile, the large font Durandal title is partially overlaid by the nav and the page does not fit the browser window.

[2015-03-11 23:35] davismj commented on #640
Thanks for the report. I've been able to reproduce and I should be able to fix it. @EisenbergEffect how do I go about resolving issues with the site itself?

[2015-03-11 23:38] davismj commented on #638
So basically, when there are two view models with child routers, when navigating from one parent to the next, the child from the first is initially composed as the child of the second?

[2015-03-12 01:43] EisenbergEffect commented on #640
Hmmm. The actual site source is in a private repo. Let me see what it would take to give you access there.

[2015-03-12 01:49] EisenbergEffect commented on #640
@davismj I've given you access to the site source. You will see the readme file there which should explain how to get up and running. Please fork and send me a PR to review. Make sure to only commit stuff in the src folder please. Thanks!

[2015-03-12 07:06] CognitiveFeedback commented on #638
almost ...
when there are two view models, one of which has child routes, when navigating from this parent-viewmodel to the next and then returning to this parent-viewmodel, Durandal re-composes the previously active child-viewmodel before suddenly deactivating it and composing the child-viewmodel specified by the actual route URL.

[2015-03-12 12:50] KevinTuttle commented on #638
I also ecounter this issue with our Durandal app.

[2015-03-13 05:26] CognitiveFeedback commented on #638
thanks davism for asking about this issue and thanks Kevin for confirming this

[2015-03-16 20:04] levmatta opened #641 "Relative URL do not work"
Please update the documentation to inform that relative URLs must be preceded with "./", this is very important and very hard to find out (it took me 1.5 years to figure it out).

Thanks

[2015-03-18 05:29] mryellow opened #642 "Observable plugin early convertProperty fired without hasChanged"
[code]

When touching `observable(this, 'bar')` the property is converted, however `convertProperty` is called with `hasChanged == undefined`.

Later when bindings are applied, the remaining fields are converted with `hasChanged` correctly set.

[2015-03-18 11:29] gcastre opened #645 "Dynamic route parameter"
The named parameter are not resolve with convertRouteToHash in a childRouter view.

I have made a branch with a modification of the sample you can see the diff here: https://github.com/BlueSpire/Durandal/compare/master...gcastre:dynamicRouteIssue?expand=1

The url of the <a> will be #keyed-master-details/:id/second instead of #keyed-master-details/1/second

[2015-03-30 14:45] PWKad commented on #634
@someyoungideas a PR would be nice but I think you need to update the step that builds out the data.json in the API pages on github -

https://github.com/BlueSpire/Durandal/tree/gh-pages/api

This is done in the main project I believe in the build step in this power shell script -

https://github.com/BlueSpire/Durandal/blob/master/build.ps1

So the adjustment would need to be so that the results a

[2015-04-01 09:18] sebihanu opened #647 "html5 elements in IE8"
Hi, I need to make a durandal project that contains html5 elements (like article) to work with IE8.
So, I have the following section in a view: "< article>Welcome< /article>"
in a custom css I have: article { display: block; border: 1px solid red }
and of course the modernizr.js library added to the head section of the page.
The result is that in IE8 the article element isn't bordered.

If I try t

[2015-04-03 18:24] navels opened #648 "Widget recomposing/reactivating inconsistently"
I am seeing some inconsistent behavior with widget composition.  Here's an example:

http://navels.github.io/dFiddle-2.0/#widgets/composition

This is a simple widget that is passed a settings object when composed into the parent.  The parent has a couple of buttons for modifying the settings object and those modifications are reflected in the widget's view.  So far so good.

What I don't understa

[2015-04-03 19:33] navels commented on #648
Hmmmm...I just tried using data-bind="compose.." instead of the widget syntax and that did not exhibit repeated activation.

[2015-04-08 12:39] jignesh-dalal opened #649 "Failed to load... errors in production"
Hi,

We are observing *few* occurrences of "Failed to load..." errors in our production (cloud) environment using Durandal 2.1.0 as follows:

1) Failed to load composed module (tmpl/shared/footer). Details: Script error for: tmpl/shared/footer\nhttp://requirejs.org/docs/errors.html#scripterror: at document path

2) Failed to load transition (transitions/entrance). Details: Script error for: transi

[2015-04-08 13:31] leftclickben commented on #649
It looks like you're running the `r.js` optimizer for production deployments, but you have a couple of configuration issues:

1. You have to explicitly include plugins and transitions that you are using, in the `include` option.  This is because they are loaded dynamically, not through a direct call to `require` or `define`, so the optimizer doesn't know to include them if you don't explicitly lis

[2015-04-08 13:57] esbenp opened #650 "Attached fires twice on child viewmodels when they have been activated more than once"
I have two viewmodels 1 and 2. Each is a parent router and each has one child route subview 1 and 2. If i activate subview one and then switch to subview 2 attached is firing once for each subview as expected. However, if I then go back to subview 1 attached is firing twice. Similar behaviour occurs for subview 2. I have made a demo repo here https://github.com/esbenp/durandal-bug

Basically just

[2015-04-10 00:38] gyancse08 opened #651 "Durandal 1.2.0 typescript sample"
Hi All,
       Does any one tried creating views and viewmodels in typescript for durandal 1.2.0.
Our project has grown a lot and it's a huge cost for us to migrate to durandal next versions (It has breaking changes). Also Durandal 1.2.0 has worked quite well for us so we are not greedy to move to next version. The only good part we wanted in this project was to integrate typescript. Please let me

[2015-04-10 08:16] jignesh-dalal commented on #649
No we are not running the `r.js` optimizer; instead we use web essentials to optimize the files and load/include them in the package based on build configuration i.e. `debug\release`.

[2015-04-10 08:17] jignesh-dalal commented on #649
closed by mistake

[2015-04-14 13:54] dancras commented on #598
We also struggle with this. Our very slight workaround for the rendering is to make our widgets etc render lists, rather than individual items so that there are fewer compose calls.

Today I have an issue with iOS devices and setting form field focus programatically which must be done on the same stack frame as a user interaction event. Unfortunately due to the async nature of compose, the element

[2015-04-14 16:49] dancras commented on #598
Here's a branch experimenting with synchronous composition. Seems to work ok on my project so far.

If someone could explain what all the setTimeouts were solving I'd be very grateful.

https://github.com/dancras/Durandal/tree/synchronous-composition

[2015-04-15 21:25] marvc1 opened #652 "router.parseQueryString includes '?' in first param name"
The question mark to indicate the start of a query string is being used as the name of the first query string param.

[code]

[2015-04-27 04:50] navels opened #654 "observable.convertObject doesn't handle setters correctly"
There is this near the end of the observable.defineProperty code:

    computed = ko.computed(computedOptions);
    obj[propertyName] = computed;

which is not going to work if obj has a setter for propertyName.  As a result, when the observable plugin detects a property with a getter and setter and tries to wire up a computed observable, it fails.  Example here:  http://navels.github.io/dFiddle-2

[2015-04-27 06:17] navels commented on #654
Here's the PR: https://github.com/BlueSpire/Durandal/pull/655

[2015-05-02 18:27] davismj commented on #624
@navels any luck with this pr? i see you have another outstanding pr for a different issue?

[2015-05-02 18:31] davismj commented on #649
@jignesh-dalal nothing pops out to me here, but i have a few ideas of what might be going on. this is probably not an issue with durandal though. please send me a message on gitter and i will try to help you work through this issue if you're still having it.

@EisenbergEffect this can probably be closed. we can reopen it if it really is a durandal issue.

[2015-05-02 18:46] davismj commented on #598
@srowan have you reviewed @dancras ' repo above?

[2015-05-02 18:57] davismj commented on #603
Unfortunately, I don't think this will make it into Durandal. However, please take a look at Aurelia's may release blog. I think the `generateRoute` function will achieve something similar to what you're looking for here. If not, we'd love to hear a bit more feedback as well as get some code examples of what you're looking for.

@EisenbergEffect I'd close this as it is a feature request that seems

[2015-05-02 19:04] #603 closed

[2015-05-02 20:59] davismj commented on #640
@EisenbergEffect this should fix the issue, and this issue can be closed

[2015-05-02 21:48] davismj commented on #634
I think he's requesting that the docs page, not the api docs page, be alphabetized. This is in a particular, logical order and should not be alphabetized. As @PWKad noted, the api docs are already in alphabetical order. @EisenbergEffect this can be closed.

[2015-05-02 21:50] davismj commented on #651
@gyancse08 It's so good to hear that you've been successful with Durandal 1.2.0. Unfortunately, I wasn't able to find anyone who has tried using typescript with Durandal 1. I would recommend that you try posting on stackoverflow with the durandal and typescript tags, or asking around the aurelia gitter at https://gitter.im/Aurelia/Discuss.

@EisenbergEffect this issue can be closed

[2015-05-02 21:58] davismj commented on #648
@navels thanks for the feedback, from my personal experience, the observable plugin is a little picky about when and how you instantiate stuff.

[code]

So, I believe when you return settings: settings, the observable plugin looks at settings and converts all the properties to an observable behind the scenes. In this case, I think it would look at your settings object and make an observable out of

[2015-05-02 23:20] #634 closed

[2015-05-02 23:20] #640 closed

[2015-05-03 01:37] navels commented on #624
Just haven't gotten around to it.  Maybe the juice isn't worth the squeeze :)

[2015-05-03 22:18] navels commented on #648
I don't think I made myself very clear, but I think I've gotten to the bottom of it.  When using the widget or compose syntax:

    <div data-bind="widget: {...}"></div>
    <div data-bind="compose: {...}"></div>

the appropriate bindingHandler (for widget or compose) goes through each top-level property in the `{...}` and adds it to the dependences of the handler's update method.  This means that

[2015-05-09 14:03] mjac opened #656 "Default parameters for "activate""
I wanted to make a primary navigation which used the same module twice. However I couldn't find a way to pass a default parameter to the module to indicate which version of the page I wanted.

My solution was to add a default parameter array to the router configuration similar to MVC:

    { route: 'exercise/bench', params: ['bench'], moduleId: 'modules/exercise/index', title: 'Bench press', nav:

[2015-05-12 14:08] Andrey-Gusakov opened #658 "Composition depends on observables accessed in the activate callback of the model"
I have an issue with composition, it seems similar to #568. The behavior is really odd, I'm not sure if the problem was understood correctly in the #568 thread. Or perhaps I have a different one.

Consider the following code
![2015-05-12_1714](https://cloud.githubusercontent.com/assets/10154965/7589285/5f5f9566-f8ca-11e4-9be1-f3372e738a96.png)

The parent.js is on the router and it has the child c

[2015-05-12 17:46] navels commented on #658
What happens if you move the code that operates on your observables out of activate() and into bindingComplete()?

[2015-05-13 09:49] Andrey-Gusakov commented on #658
Actually, I did put a workaround. I cut the call stack before calling activate callback with setTimeout(0), because currently we use knockout 3.2.
Moving code to bindingComplete would work if the activate returned the promise(not my case). Moving to compositionComplete works. But I think it wouldn't work for the last composition in chain, since it calls all compositionComplete callbacks on zeroing

[2015-05-13 10:42] Andrey-Gusakov commented on #658
Pull request: #659

[2015-05-13 18:14] navels commented on #658
+1

[2015-05-19 20:43] #624 closed

[2015-05-21 17:07] marvc1 opened #661 "Named Modules"
Is it possible to have named modules?

I.e instead of

[code]

We would have

[code]

This way Durandal can easily be packaged with existing bundling methods (ASP.NET bundling) without having to add a JavaScript build method, which is overkill for most existing ASP.NET projects.

[2015-05-21 18:16] ibrahimbensalah commented on #661
isn't it a requirejs related question? here is an example taken from requirejs doc page http://requirejs.org/docs/api.html#deffunc

    //Explicitly defines the "foo/title" module:
    define("foo/title",
        ["my/cart", "my/inventory"],
        function(cart, inventory) {
            //Define foo/title object in here.
       }
    );

[2015-05-22 06:29] marvc1 commented on #661
@ibrahimbensalah it is about the RequireJs modules yes, however it is the implementation of the modules within Durandal  that this issue talks about.

If you want to bundle anonymous RequireJs modules you need a custom build method to give the modules names based on their location within the project. I don't know of a reason why the modules inside of Durandal cannot have explicit names. There may

[2015-05-22 08:25] ibrahimbensalah commented on #661
@marvc1 I totally agree, but just to be clear, can you confirm that named modules are not working, inside durandaljs? as far as I know, durandaljs relies on requirejs without any additions.

[2015-05-22 10:40] marvc1 commented on #661
Named modules work perfectly inside Durandal.

If there is no reason why the main repo cannot have explicitly named modules, it would be nice if we could name them, as currently I am manually changing them each time there is an update. I expect quite a lot of  people are using Durandal in this way.

The bundles are just a script tag.

[2015-05-28 09:32] weiran commented on #661
Just use Gulp.

[2015-06-03 18:44] schwuppdiwupp opened #662 "deactivateItem initiates a second composition when canDeactivateItem resolves to false"
I noticed that when deactivate() is called on an activator and the internal canDeactivateItem() resolves to false the code notifies all subscribers. This leads to a second call of attached() on every subscriber.

Also, in activate.js all calls to notifySubscribers() are wrapped in a condition (if (viaSetter)), except the one in computed.deactivateItem() is not. Is this intentional?

[2015-06-09 11:14] shameen commented on #661
There doesn't look to be any reason why not to do this. I too use Asp.Net MVC bundling and named modules would save a whole lot of effort.

[2015-06-18 07:50] leftclickben commented on #656
@mjac you can access the current route parameters using `router.activeInstruction().config`.  This is available at least in the `activate()` method.  So in `activate()`, if you defined your routes as per your OP, then you could use something like, `var params = router.activeInstruction().config.params;` and then `params[0]` would be either "bench" or "squat" depending which route you are on.  HTH.

[2015-06-18 07:56] leftclickben commented on #661
The reason I can see not to do this is that it's explicitly recommended against in the requirejs documentation.

http://requirejs.org/docs/api.html#modulename

That issue of portability means that if someone moves a file and forgets to change the name to match, or makes a typo in the name, then the module will not be loadable.  Essentially you are taking the single source of truth for module names

[2015-06-20 06:23] marvc1 commented on #661
The use case for moving the files will be a very rare one, if at all. If you move the file manually, then you will be taking it outside of whatever package loader you have anyway. Which would break a Single Source of Truth principle. Another Faux Pas on the SSoTruth is that we have to configure Require Js to know where the Durandal folder is.

Adding your own funky folder structure for Durandal wo

[2015-06-20 06:38] AdamWillden commented on #661
You've made my morning

[2015-06-22 16:47] leftclickben commented on #661
@marvc1 To be clear, I meant that the explicit module id would be one more thing for the maintainers of Durandal to remember to update, if they ever move or add a file in some future version.  They currently do not need to update this because the module id is derived automatically from the file path by r.js.  I wasn't suggesting someone using Durandal would move any files themselves.

Personally i

[2015-06-24 07:02] mjac commented on #656
Sounds good, thanks for the advice. Should we close this one then?

[2015-06-24 11:32] #656 closed

[2015-07-01 06:11] kye opened #663 "Add a method to http.js to enable beforeSend callback"
I would like to specify a beforeSend callback on an ajax post. Because $.post does not accept this parameter I'd like to add a ajax method to the plugin.

        ajax: function (method, url, data, headers, beforeSend) {
            return $.ajax({
                url: url,
                data: this.toJSON(data),
                type: method,
                contentType: 'application/json',

[2015-07-13 14:02] oguzhaneren opened #665 "setRoot() method not deactivate binded viewmodels"
Hi,

I have two shell for login scenarios. shellguest.js and shell.js

I change shell using app.setRoot("shell") after login. When  user click the logout I change shell to shellguest, app.setRoot("shellguest"). However, app.SetRoot doesn't trigger deactivate method of current viewmodels so all bindings not cleared after change shell. (it may be occur highly memory consumption and unwanted bindings

[2015-07-14 15:57] gpltaylor commented on #665
I am not 100% positive but I think the Shell uses compose to render. This does not us the Activator.js so life cycle events are not hooked up. This is also the case if you use knockout compose to embed a widget into an existing view. That also does not hook up into the life cycle.
I can't speak for Rob but this appears to be by design.

I think however you do get deactive so you can place and clea

[2015-07-17 04:30] #654 closed

[2015-07-17 04:31] #649 closed

[2015-07-17 22:23] navels opened #666 "observable plugin: UI fails to update after reassigning observable array"
Generally speaking, if x and y are observables in Durandal (i.e., knockout observables hidden behind ES5 getters and setters), then when you write

[code]

what happens under the hood is that the underlying value of x is set equal to the underlying value of y, but x retains all the rest of its observable "baggage", i.e., subscriptions and whatnot.

The same thing is supposed to apply to observable

[2015-07-20 07:04] davismj commented on #663
I'm not sure this is the best approach for a number of reasons. First of all, specifying 'dataType: json' on a DELETE request doesn't work (usually?). For this and other reasons, I will go ahead and make the change. I will create an ajax function which accepts a general [jQuery settings object](http://api.jquery.com/jquery.ajax/#jQuery-ajax-settings) and does some preprocessing on the object in li

[2015-07-21 02:25] mryellow opened #668 "Docs: Observable plugin, hasChanged signature undocumented"
`convertObject` and `convertProperty`, `hasChanged` property in signature didn't make it into inline docs.

Accepts an array of functions.

https://github.com/BlueSpire/Durandal/blob/14ace8942395a017558b24331d89b24e355ae65e/src/plugins/js/observable.js#L162

[2015-07-21 02:31] mryellow commented on #666
Ran into this one recently... my approach to work-around was something like:

[code]

[2015-07-21 03:31] kye commented on #663
Thank you @davismj. That will meet the requirement.

[2015-07-21 03:31] #663 closed

[2015-07-21 18:11] navels commented on #666
I'm thinking that making x a computed observable that wraps y is probably the best workaround:

    get x() {
      return y;
    }

That fixes the dFiddle, or rather this does (the arrays in that example are x.arr and y.arr):

    get x() {
      return {
        arr: this.y.arr
      };
    }

[2015-07-22 20:25] mfromin opened #669 "Question on routes and page composition"
I have a simple app (based on the starter app) with three routes.

1 - Home page (list of articles)
2 - View article page
3 - Edit article page

The first time I visit the Edit Article page I fetch JSON from the server, populate a view model and then render the page. I have a binding handler that implements a rich text editor and the valueAccessor is the model data.  So far so good!

I then click

[2015-07-22 20:55] navels commented on #669
Check this out:

http://stackoverflow.com/questions/22503570/durandal-rebind-when-navigating-to-same-module-and-view-with-different-data

[2015-07-23 03:11] mfromin commented on #669
Thank you for that - exactly where in the Durandal sample app does that code go?  In the main.js?  shell.js?

Apologies for the newbie question ... I am trying to convert an Angular app to Durandal so I am new to the framework.

[2015-07-23 12:29] explorer2309 commented on #669
The activate function in your view model should get called on every load. And it should get the parameter to load the data appropriately. Can you create a sample code with your problem?

[2015-07-23 19:53] mfromin commented on #669
So I have this code for a module:

define(['knockout', 'plugins/router'], function(ko, router) {
    return {
        sampleObservable: ko.observable('Sample text'),
        post: {
            test: "test content"
        },
        activate: function () {
            var self = this;
            var postId = router.activeInstruction().params[0];
            var apiURL = "http://localhost:8080/ap

[2015-07-23 20:59] navels commented on #669
Are you *sure* that activate is being called both tiems?

But anyway, you should use a parameterized route and pull the post id into the activate method as a parameter.  For example:

http://stackoverflow.com/questions/24572515/durandal-routing-with-parameters

[2015-07-23 21:40] mfromin commented on #669
I think I have this figured out...

When I fetch data using the activate() function I was not returning a promise from the jQuery call.  Now that I am doing that all seems to be working as I expected.

Something in one of the aforementioned StackOvervflow articles triggered this epiphany.

I appreciate all of your help!

[2015-08-01 02:30] gordon-matt opened #670 "Passing route parameters to the server"
Hi Guys,

I am currently trying to get Durandal to pass the parameters to the server (ASP.NET MVC), but not having any luck so far. For more info, see:
http://stackoverflow.com/questions/31757317/durandal-not-passing-parameters-to-mvc-controller-action

2 things:
1. I am hoping someone can help me with this issue - either by providing me with the steps to do this or by adding support for this.
2.

[2015-08-03 14:03] davismj commented on #553
If you could provide a gist or git repo demonstrating the problem that would help me resolve it.

[2015-08-03 14:04] davismj commented on #558
Just following up with this issue. Does anyone have a demo repo?

[2015-08-03 14:06] davismj commented on #559
Excellent. I will review.

[2015-08-03 14:09] davismj commented on #560
Thanks for the feedback, I will review.

[2015-08-03 14:10] davismj commented on #561
Thanks, I will review. If you have a repo that I could review that reproduces the issue that would be helpful.

[2015-08-03 14:28] davismj commented on #584
Thanks for the feedback. I'll take a look and see what we can do to clear that up!

[2015-08-03 14:29] davismj commented on #588
@EisenbergEffect recommend close, sorry vildan :( it's a great idea though!

[2015-08-03 14:32] davismj commented on #585
Actually, I've personally run into this issue. Sadly, I think it will not be fixed. The router has a few issues that have been resolved in Aurelia and otherwise have reasonable workarounds in Durandal. @EisenbergEffect recommend close.

[2015-08-03 14:32] davismj commented on #581
Thanks for the nice bug report, I will review.

[2015-08-03 14:33] EisenbergEffect commented on #588
We did get this into Aurelia at least ;)

[2015-08-03 14:33] #588 closed

[2015-08-03 14:34] #585 closed

[2015-08-18 00:12] ctaleck opened #672 "The hasFocus binding does not work for inputs on an animated dialog (Durandal 2.1, Knockout 3.3)"
I am using the hasFocus binding in the composition lifecycle:

[code]

This trouble began after updating from Durandal 2.0 to 2.1 and Knockout 2.3 to 3.3. Knockout 3.3 turned hasFocus into a two-way binding and is causing the timing to be off-sync with the opening of a dialog with animation. Using the hasFocus binding works on a normally composed page.

Is there a way to delay the timing of the bi

[2015-08-18 20:56] ctaleck commented on #672
My solution involves adding a timing delay.

https://gist.github.com/ctaleck/4e1ebf1c0fbc137d2672#file-bindinghandlers-js

[2015-08-24 06:44] jkanczler opened #673 "CompositionComplete callbacks are not called in case of an error"
Composition callbacks are called by the composition module when the composition count reaches 0 value and there's no error. It's wrong because: If you have multiple views on a page and just one of the views is failing then the composition callbacks are called randomly. It depends on the process, if the view that is failing processed last, then callbacks won't be called, but if the other views are

[2015-08-24 09:06] jkanczler commented on #673
Oh, and actually if there's an error in a composition callback, then the compositionCount will be decreased to -1, because the onError will call the EndComposition again.

[2015-09-10 13:34] riddla opened #675 "Corrupt link to the view locator on http://durandaljs.com/documentation/Creating-A-View.html"
The view locator link found within the "Key Points" refers to http://durandaljs.com/documentation/View-Locator. Should it be http://durandaljs.com/documentation/View-Location.html?

[2015-09-27 22:07] massimoahmadi opened #676 "System.resolveObject support ES6 singletons"
You currently support 2 ways of resolving the viewmodel.. either by calling a factory function (if the viewModel's module's export is a function) or by using the viewmodel's module directly (if the viewModel's module's export is not a function). It would be cool if you could support the scenario where the viewModel's module exports an instance to be used, as well as various other things.

For exam

[2015-10-02 09:35] Ph47 opened #677 "Wrong promises logic at http.get(...)"
Good day!

I am building a module (EditList). Module must download some info thru http.get before binding. Example:

    EditList.prototype.activate = function (id) {
        var that = this;
        console.log("activate begin");
        var result = http.get("...").then(function () {
            console.log("activate get complete");
        });
        console.log("activate end");
        return

[2015-10-02 09:51] Ph47 commented on #677
Finaly error was found. It was in promise chain in children module. If mixing jquery "when" with "http.get" at parameters and in "then" after "when" it return value not promise. In default scenario all works fine.

[2015-10-02 09:51] #677 closed

[2015-10-08 20:16] massimoahmadi commented on #676
Sorry I didn't realise in the Durandal documentation it recommends redefining (overriding or replacing) the System.resolveObject method to be able to cater for scenarios like this. Thanks!

[2015-10-08 20:16] #676 closed

[2015-10-28 00:56] gsperry opened #678 "Dialog show then promise never fires in IE9."
dialog.show(model),then(function(){});

The then promise never fires in IE9.

[2015-10-28 01:06] gsperry commented on #678
Waiting to removeHost and delete Instance.__dialog__ until after resolve is called does allow the promise to fire, but I do not know if this will cause undesired behavior in complex promise implementations where the dialog is assumed to be gone.

I have a functioning branch. All tests pass and I have verified no ill effects in IE9, 10, 11, and Chrome 46.

[2015-10-28 01:12] gsperry commented on #678
Having thought about this, I will not submit a pull request. While this fix may work for me, I believe it to be poor form to conduct any business after the resolution of a promise.

[2015-11-10 07:55] Oleg-Tamarintsev commented on #658
+1

[2015-11-10 22:40] maca89 commented on #658
+1!

[2015-11-11 12:07] davismj commented on #585
Actually, this issue is exactly what we're seeing in https://github.com/aurelia/framework/issues/212. Seems that most of the code is conceptually identical.

[2015-11-23 22:17] navels commented on #585
interesting :)

[2015-12-21 20:16] bleuetnoir opened #682 "Incomplete handling of url manipulation/ browser back when isProcessing() is true"
Hello,

   I have a basic form page. If the user click back (browser button, contextual menu) or another link, we display a confirmation message in canDeactivate so that the user have a last chance to stay in screen and save the changes. Common scenario.

  The problem is that it is still possible to use back or manipulation url in browser adress bar while the dialog is open (async process / promi

[2015-12-22 03:53] pinghuynh opened #683 "Dialog is not shown in case of an error"
Hello,

This may relate to issue #673, but after I applied fixes of #673, the problem still happens.

I use 'plugins/dialog' to show the popups on my page.
Example: dialog.show(new MyDialogModal());

The problem is: the dialog is not shown if the previous one got an error

How to reproduce this problem:
- Open dialog A
  - Call "dialog.show(new MyDialogModal())"
  - When it still has not been show

[2015-12-22 03:54] pinghuynh commented on #683
Please try this issue on http://durandaljs.com/samples.html#modal

[2016-01-06 07:27] touqeershafi opened #685 "Durandal in Phonegap router not working."
I'm simply trying to do

[code]

and it's not working page remains still.

[2016-01-06 19:34] leftclickben opened #686 "Events stop firing when listener is outside of `router`-composed area (WORKAROUND)"
## Background

I have a `shell.html` that looks (stripped down) like this:

[code]

The `AuthenticationWidget` listens for an event that I am firing from another module, `UserService`.

This is the relevant code in `UserService`:

[code]

This is the relevant code in `AuthenticationWidget.js` that does not work:

[code]

Then in `AuthenticationWidget.html` I have something like:

[code]
## Problem

[2016-01-14 16:58] jbaez opened #688 "knockout components in a view breaks in IE7."
Using the latest Durandal from the master branch, knockout 3.3.0 (also tried with 3.4.0) and jQuery 1.8.0.
Defining a component like:

[code]

And using it in a view like:

[code]

Breaks in IE7 with the message: Unexpected call to method or property access.

[2016-01-15 09:30] jbaez commented on #688
Just found out that It does work even in IE7 If the component is used in the view like:
[code]

[2016-03-04 04:59] jmvtrinidad commented on #683
Hi,

The error is from loading customModal.html.
The required html for customModal.js has not been loaded.
To ensure that the html required is already loaded, you can add it as a dependency for customModal.js.
Something like this.
[code]

[2016-03-23 04:08] SherryXueyingLi opened #690 "Dialog cannot support dynamic content"
In my porject there's some request needs the content of the dialog to be changed by request, in some case, the content process xml will return a larger dialog, the process is after the dialog show up.

For instance when we init the dialog as length of 500, and after process, the dialog length become 1500, the out-of-screen part is just disappeared since there's bo scroll bar,

I have fixed the pro

[2016-04-13 08:26] #690 closed

[2016-07-15 19:09] someyoungideas opened #694 "Dialog currentZIndex Incrementing"
Should the `currntZIndex` ever be reset after a dialog is closed? I encountered an issue where I created a custom dialog that uses the `getNextZIndex` function to set the z-index appropriately. Unfortunately, there are elements with static z-index from CSS in the modal. After the dialog has been opened over and over the dialog z-index is above the elements inside due to the `currentZIndex` increme

[2016-10-27 20:20] mattyas opened #695 "Dialog throws error on load with jquery 3.x"
in dialog.js
`loadables.load(function () {
                setDialogPosition(child, theDialog);
            });
`

should be replaced with

`loadables.on("load", function () {
                setDialogPosition(child, theDialog);
            });
`

to be compatible with jquery 3.x
https://jquery.com/upgrade-guide/3.0/#breaking-change-load-unload-and-error-removed

[2016-10-28 04:55] davismj commented on #695
@mattyas We'd love a pull request! :smile:

[2016-11-05 09:11] mattyas commented on #695
@davismj https://github.com/BlueSpire/Durandal/pull/696 submited

[2016-11-08 02:27] jkjome commented on #658
The suggested fix resolved my issue.  I have a view/viewModel that applies focus() to the first element with an autofocus attribute upon attached().  When the focused element gets focused, it toggles a 'selected' knockout observable to true.  But then the page is unresponsive.  Any tabs or clicks result in merely re-firing binding().  No functions actually get fired upon clicking buttons.  The pag

[2016-11-08 11:51] davismj commented on #658
@EisenbergEffect I've taken a look at the change. It's simple enough and seems like a reasonable change. Though I've not tried the code, based on the feedback of trusted community members, I recommend we pull this in. What do you think?

[2016-11-08 13:40] EisenbergEffect commented on #658
Merged.

[2016-11-08 13:40] #658 closed

[2016-11-16 16:33] brianmhunt opened #697 "Knockout 4.0 alpha compatibility tests"
Hi folks,

A Knockout 4.0 beta is on the horizon, being a substantial rewrite – mostly to divide Knockout into discrete ES6 import/exports.  You can have a look at the "umbrella" project here https://github.com/knockout/tko (TKO is an experimental fork intended to become KO 4.0).

TKO is still in alpha, with lots to do, but I think we're at a good place to touch base with major projects relying on

[2017-02-01 08:51] unsystemizer commented on #618
@EisenbergEffect, it's (still | again) broken

[2017-02-10 15:32] sethlivingston opened #701 "Custom transitions violate the Open Closed Principle"
Having to add custom transitions to the Durandal tree, rather than being able to keep them in our own app tree, violates the Open Closed Principle. It's particularly troublesome for us because we install Durandal using NPM, so we have to add transitions to the ./node_modules folder.

Please correct me if there's a way to add transitions without putting them in the durandal/transitions folder, and

[2017-02-11 04:38] daedalus28 opened #702 "Add a package.json"
Npm can install directly from github, but _only_ if there is a package.json file. Since you closed the [issue on durandal-bower](https://github.com/BlueSpire/Durandal-Bower/issues/7), and durandal-bower doesn't have the recent fixes, can you just add a package.json file here? And if not, then can you update the durandal-bower repo?

[2017-02-11 04:40] daedalus28 commented on #702
I'm not clear why there are separate repos but this

[2017-02-11 04:48] EisenbergEffect commented on #702
If you PR the package.json file, I will merge it in.

[2017-02-11 04:52] daedalus28 commented on #702
PR #703 should do it

[2017-02-11 05:11] EisenbergEffect commented on #702
Merged.

[2017-02-11 05:11] #702 closed

[2017-07-24 07:53] Rus-iZet opened #705 "Attempt to decorate http.post"
Hi, i'm trying to decorate the function http.post a simple method:

[code]

But every browser is display the same error:
   _TypeError: this.toJSON is not a function_

In the http.js file at the 102 line i replaced next code:
`data: this.toJSON(data),`
on
`data: JSON.stringify(data),`

and the error is gone.

What is the difference between the two methods? Is it possible to use the standard functi

[2017-07-24 16:01] navels commented on #705
toJSON is a method on the http module.  when this.toJSON is called, the "this" is the http module object.  later when your decorator calls f.apply, it is passing in a different "this" object.

instead:
[code]

[2017-07-24 16:37] navels commented on #701
From the docs:

[2017-07-24 16:54] #705 closed

[2017-07-24 16:56] #701 closed

[2017-08-02 18:14] jpaugh opened #706 "[Website] Getting Started page is outdated"
The [Getting Started] page on the website has an outdated dependency for Knockout. The source text of main.js on that page lists knockout-2.3.0.js as a dependency; but the HTML Starter Kit currently uses 3.4.0.

Also, the `ul` nav in shell.js (second version) needs the `navbar-nav` class, in order to allow the nav links to stack horizontally, rather than vertically. (I'm guessing this is as a resu

[2017-08-08 22:09] jimwards17 opened #707 "Mobile browser address bar does not hide when scrolling down (ios, chrome)"
EDIT: simply open the microsoft.net samples solution and view in chrome on ios (not ipad). Chrome address bar is always present regardless of page length and scroll position. (this is also true for safari and firefox)

Is this intentional? What can I do to have the browser address bar hide as the page is scrolled down? This is valuable screen real estate.

/***************************/
Using the d

[2017-08-20 22:48] yanime commented on #706
As this framework is not maintained anymore I would suggest the getting started page to be removed, I see no reason to start a new project with durandal when there are plenty of other modern js frameworks

[2017-09-05 09:02] lancer07 opened #708 "how could i build two shell page"
my block is i need a login page, but i am not sure how i could build the page.

[2017-09-05 09:17] lancer07 commented on #708
my issue is like that, is it true ?

// in main.js , after app.start()

if(isLogin){
       app.setRoot('viewmodels/shell', 'entrance');
}else{
       app.setRoot('viewmodels/pages/login', 'entrance');
}

[2017-10-26 10:05] usmanaridian opened #709 "endComposition method is decreasing the compositionCount onError"
While working on a bug where one of our viewModel's composition complete was not being called, I came to know that there was a javascript error was occurring (which I  am still trying to find) and that error triggered the onError of composition.js which in turn triggered the endComposition method. Where we are doing minus one on compositionCount variable. And by some how compositionCount value got

[2017-12-08 07:26] DHclly opened #710 "the tutorial has a error word"
the url:http://durandaljs.com/documentation/Using-Composition.html
you can in this page search `abject` by ctrl+F,

than an `abject`? object :P

[2017-12-15 10:22] decden opened #711 "Incomplete cleanup of composed views when parent is detached before complete loading"
In the case of nested compositions, a composed view is not properly cleaned up if the parent is detached before the view has been attached.

The reason for this is that the knockout dispose callbacks added by the `triggerAttach` function will not be called. Since the parent of the newly attached view has just been detached, nobody will take care of cleaning the now detached DOM tree.

Note that th

[2018-01-22 20:04] jeffgarretson commented on #695
Rob, any chance of getting the NuGet package updated to include this fix? This is the last thing keeping me from updating to jQuery 3.x.

[2018-01-23 04:56] EisenbergEffect commented on #695
Do we have a pull request for this?

[2018-02-12 10:53] mattyas commented on #695
You have already accepted my pull request, but the NuGet package has not been updated since September 3 2016. Therefor the fix is not available for those who pulls it from NuGet.

[2018-02-12 10:54] #695 closed

[2018-03-21 10:44] Syltty opened #713 "Malformed URL triggers an unhandled exception and mapUnknownRoutes is never called"
Hi,

If a user try to access a page with some dummy route parameters like

Then `createParams` method (of /src/plugins/js/router.js) / `decodeURIComponent` is called with "%" parameter and crashes: "`Uncaught URIError: URI malformed`". `mapUnknownRoutes` is never called because this error is not handled.

durandal version: 2.1.0

[2018-03-21 15:26] Syltty commented on #713
I have a fix if you confirm it's a bug.

[2018-04-14 15:28] TK182 commented on #710
Hi @DHclly
There is already a pull request to fix this #689

[2018-04-18 03:41] #710 closed

[2018-05-08 02:27] gordon-matt commented on #670
This issue was solved years ago. For anyone looking for the answer, see: https://stackoverflow.com/questions/31757317/durandal-not-passing-parameters-to-mvc-controller-action

[2018-05-08 02:27] #670 closed

[2018-11-30 08:38] EisenbergEffect commented on #540
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:38] #540 closed

[2018-11-30 08:38] EisenbergEffect commented on #713
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:38] #713 closed

[2018-11-30 08:39] EisenbergEffect commented on #711
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #711 closed

[2018-11-30 08:39] EisenbergEffect commented on #709
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #709 closed

[2018-11-30 08:39] EisenbergEffect commented on #708
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #708 closed

[2018-11-30 08:39] EisenbergEffect commented on #707
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #707 closed

[2018-11-30 08:39] EisenbergEffect commented on #706
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #706 closed

[2018-11-30 08:39] EisenbergEffect commented on #697
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:39] #697 closed

[2018-11-30 08:40] EisenbergEffect commented on #694
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #694 closed

[2018-11-30 08:40] EisenbergEffect commented on #688
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #688 closed

[2018-11-30 08:40] EisenbergEffect commented on #686
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #686 closed

[2018-11-30 08:40] EisenbergEffect commented on #685
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #685 closed

[2018-11-30 08:40] EisenbergEffect commented on #683
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #683 closed

[2018-11-30 08:40] EisenbergEffect commented on #682
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #682 closed

[2018-11-30 08:40] EisenbergEffect commented on #678
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #678 closed

[2018-11-30 08:40] EisenbergEffect commented on #675
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:40] #675 closed

[2018-11-30 08:41] EisenbergEffect commented on #673
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #673 closed

[2018-11-30 08:41] EisenbergEffect commented on #672
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #672 closed

[2018-11-30 08:41] EisenbergEffect commented on #669
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #669 closed

[2018-11-30 08:41] EisenbergEffect commented on #668
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #668 closed

[2018-11-30 08:41] EisenbergEffect commented on #666
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #666 closed

[2018-11-30 08:41] EisenbergEffect commented on #665
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #665 closed

[2018-11-30 08:41] EisenbergEffect commented on #662
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:41] #662 closed

[2018-11-30 08:42] EisenbergEffect commented on #661
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #661 closed

[2018-11-30 08:42] EisenbergEffect commented on #652
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #652 closed

[2018-11-30 08:42] EisenbergEffect commented on #651
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #651 closed

[2018-11-30 08:42] EisenbergEffect commented on #650
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #650 closed

[2018-11-30 08:42] EisenbergEffect commented on #648
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #648 closed

[2018-11-30 08:42] EisenbergEffect commented on #647
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #647 closed

[2018-11-30 08:42] EisenbergEffect commented on #645
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:42] #645 closed

[2018-11-30 08:43] EisenbergEffect commented on #642
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #642 closed

[2018-11-30 08:43] EisenbergEffect commented on #641
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #641 closed

[2018-11-30 08:43] EisenbergEffect commented on #638
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #638 closed

[2018-11-30 08:43] EisenbergEffect commented on #637
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #637 closed

[2018-11-30 08:43] EisenbergEffect commented on #621
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #621 closed

[2018-11-30 08:43] EisenbergEffect commented on #609
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #609 closed

[2018-11-30 08:43] EisenbergEffect commented on #607
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:43] #607 closed

[2018-11-30 08:44] EisenbergEffect commented on #601
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:44] #601 closed

[2018-11-30 08:45] EisenbergEffect commented on #598
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:45] #598 closed

[2018-11-30 08:45] EisenbergEffect commented on #589
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:45] #589 closed

[2018-11-30 08:45] EisenbergEffect commented on #584
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:45] #584 closed

[2018-11-30 08:45] EisenbergEffect commented on #581
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:45] #581 closed

[2018-11-30 08:45] EisenbergEffect commented on #561
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:45] #561 closed

[2018-11-30 08:46] EisenbergEffect commented on #560
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:46] #560 closed

[2018-11-30 08:46] EisenbergEffect commented on #559
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:46] #559 closed

[2018-11-30 08:46] EisenbergEffect commented on #558
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:46] #558 closed

[2018-11-30 08:46] EisenbergEffect commented on #553
Closing since Durandal has been superseded by Aurelia just shy of four years ago.

[2018-11-30 08:46] #553 closed